projects/IDOL_origin_SAMMasks_replace_gt_masks/dataset_dicts_over08_samMask_RLE.txt
projects/IDOL_Boxinst2_maskloss&Boxinstloss_samIOU_RLE_divideIOU/dataset_dicts_RLE.txt
projects/IDOL_origin_SAMMasks_replace_gt_masks/dataset_dicts_over05.txt
projects/IDOL_origin_SAMMasks_replace_gt_masks/dataset_dicts_over05_samMask.txt
projects/IDOL_Boxinst2_maskloss&Boxinstloss_samIOU_RLE_divideIOU/dataset_dicts_over05_samMask_RLE.txt
projects/IDOL_Boxinst2_maskloss&Boxinstloss_samIOU_RLE_divideIOU/dataset_dicts_RLE_withIOU.txt
projects/IDOL_origin_SAMMasks_replace_gt_masks/dataset_dicts_over06_samMask_RLE.txt
projects/IDOL_Boxinst2_maskloss&Boxinstloss_samIOU_RLE_divideIOU/dataset_dicts_over07_samMask_RLE.txt
projects/IDOL_Boxinst2_maskloss&Boxinstloss_samIOU_RLE_divideIOU/dataset_dicts_over09_samMask_RLE.txt

